.mat-card {
  --card-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  --card-background: #fff;
  --card-color: #000000de;
  --card-font-family: Roboto, 'Helvetica Neue', 'Segoe UI', sans-serif;
}

.mat-card {
  box-shadow: var(--card-shadow);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
}
